.App {
    text-align: center;
}
.container {
    margin: 0 auto;
    width: 500px;
    height: 180px;
    border: 3px groove black;
    border-radius: 20px;
}

.cityName {
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
}

.search {
    margin: 25px 0;
    font-size: 15px;
}

.search:hover {
    color: blueviolet;
}